.list{
    border: 1px solid var(--shadow); 
}

.list .list-row{
    margin: 6px;
    box-shadow: .0001rem .0001rem .3rem .02rem var(--shadow);
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.list-row label{
    width: 8rem;
}

.list-row .header{
    font-weight: bold;
}


.list-row div{
    background-color: var(--button);
    padding: 0 2px 0 2px;
    border-radius: 5px;
    font-size: 13px;
    color: var(--font-white);
    box-shadow: .1rem .1rem .5rem .1rem var(--shadow);
}

/* .list-row #list-btn{
    background-color: blue;
} */

.list-row #list-btn:hover{
    cursor: pointer;
    background-color: var(--button-hover)
}

