.card{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 22rem;
    min-width: 20rem;
    background-color: white;
    box-shadow:0rem 0.1rem .4rem 0rem rgb(119, 118, 118);
    border-radius: 4px;
    overflow: hidden;
    margin: 2px;
    padding: 5px;
}

.card:hover{
    box-shadow:0rem 0.20rem .4rem .2rem rgb(94, 93, 93);
    cursor: pointer;
}

.card-icon{
    font-size: 3.5rem;
    color: #39BC9C;
    padding: .5rem;
}

