.tool{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 3px;
    
    background-color: #39BC9C;
    border-radius: 50%;
}

.tool .anchor{
    font-size: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;    
    color:white;
}