.Link{
  color: rgb(116, 114, 114);
  padding: .8rem .8rem 1rem .8rem;
  text-decoration: none;
  
}
.Link:hover,.Link:focus{
    color: black;
}

.selectedLink{
  color:black;
  background-color: #39BC9C;
}