.ask-form{
    display: flex;
    flex-direction: column;
}


.ask-form input,textarea{
    width: 100%;
    padding: 3px;
    margin: 3px;;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.ask-form .tag-grp{
    display: flex;
}



.ask-form .img-grp{
    display: flex;
}

.ask-form .img-grp .file-chooser{
    width: 100%;
}
