.choose-med-form h6{
    color: var(--font-heading);
}


.choose-content .choose-row{
    margin: 6px;
    box-shadow: .0001rem .0001rem .3rem .02rem var(--shadow);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

}

.choose-med-form .header{
    margin-left: 3rem;
    font-weight: bold;
}
.header label{
    margin: 8px;
}

.choose-row label{
    width: 2.5rem;
    margin: 2px;
}

.choose-row .drug-name{
    width: 7rem;
    margin-left: 5px;
}



.choose-med-form .total{
    margin-left: 10.5rem;
    font-weight: bold;
}



#incdec{
   width: 1.6rem;
   margin: 2px;
}

.choose-med-form .choose-btn{
    display: flex;
    width: 11rem;
    margin-left: auto
}

#check-btn{
    margin: 2px;
    width: 5rem;
}



/* .choose-med-form .check-btn{
    margin: 0 5px 0 5px;
    background-color: var(--button);
    padding: 0 8px 0 8px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    color: var(--font-white);
    box-shadow: .01rem .01rem .3rem .01rem var(--shadow);
}

#incdec:hover,.check-btn:hover{
    cursor: pointer;
    background-color: var(--button-hover)
} */
 
