
.vouchar h6{
   color: var(--font-heading);
   margin-top: 2rem;
}
.vouchar .selected-list label{
    display: block;
    margin: 5px 0 5px 0;
}

.vouchar .vouchar-btn{    
    display: flex;
    width: 11rem;
    margin-left: auto
}

.vouchar-btn #check-btn{
    width: 5rem;
}


