:root{
   --navbar-font:		#00BFFF;
   --navbar-font-hover: #606B76;
   --navbar-font-active:#606B76;


   --gradient-layer1:#00BFFF;
   --gradient-layer2:rgb(240, 242, 243);
   --border-color:rgb(208, 211, 211);

   --font-color:#606B76;
   --font-color-disabled:rgb(109, 113, 117);
   --font-hover:#87CEFA;  
   --font-white:white;
   --font-heading:#00BFFF;

   
   --search-button:#00BFFF;
   --button:#00BFFF;
   --button-hover:#606B76;

   --shadow:rgb(208, 211, 211);
   --shadow-hover:rgb(194, 197, 197);
   --highlighter:#00BFFF;
  
   --card-icon:#00BFFF;
   --card-font-header:#00BFFF;

   --footer-highlighter:#00BFFF;
   --footer-font:white;

   --error:rgb(221, 71, 116);
}




.root{
    width: 100%;
    height: auto;
    position: relative;
    color: var(--font-gen);
}


.root .content{
    padding-top: 3.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}
