:root{
   --navbar-font:		#3AB7B0;
   --navbar-font-hover: #606B76;
   --navbar-font-active:#606B76;


   --gradient-layer1:#3AB7B0;
   --gradient-layer2:rgb(240, 242, 243);
   --border-color:rgb(208, 211, 211);

   --font-color:#606B76;
   --font-color-disabled:rgb(109, 113, 117);
   --font-hover:#3AB7B0;  
   --font-white:white;
   --font-heading:#3AB7B0;

   
   --search-button:#3AB7B0;
   --button:#3AB7B0;
   --button-hover:#606B76;

   --shadow:rgb(208, 211, 211);
   --shadow-hover:rgb(194, 197, 197);
   --highlighter:#3AB7B0;
  
   --card-icon:#3AB7B0;
   --card-font-header:#3AB7B0;

   --footer-highlighter:#3AB7B0;
   --footer-font:white;

   --error:rgb(221, 71, 116);
}




.app-root{
    width: 100%;
    height: auto;
    position: relative;
    color: var(--font-gen);
}


.app-root .app-content{
    padding-top: 6rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

  