.btn-container{

    background-color: white;
    box-shadow:0rem 0.01rem .3rem 0rem rgb(119, 118, 118);
    border-radius: 3px;
    overflow: hidden;
    

    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 4px;
    margin: 4px;
}

.btn-container:hover{
    cursor: pointer;
}

.btn-container i{
    color: #39BC9C;
    font-size: 18px;
}
