.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 40%;
  margin: 5px;
  padding: 3px;
  border: 1px solid #6d7680;
  border-radius: 5px;
  color: var(--font-color-input);
  /* background-color: var(--input-color); */
  box-shadow: 0.001rem 0.09rem 0.15rem 0px var(--shadow);
  transition: all 500ms ease;
}

.form input:focus {
  background-color: var(--app-screen-deeper);
  width: 70%;
  outline: none;
}

.form .btn {
  margin: 5px;
  padding: 2px 12px 2px 12px;
  background-color: #39BC9C;
  box-shadow: 0.001rem 0.05rem 0.2rem 0px rgb(49, 71, 65);
  border-radius: 4px;
  color: var(--font-color-button);
}

.form .btn:hover {
  color: white;
  /* background-color: var(--button-hover); */
}

.form .true {
  border: 0.5px solid var(--error);
  border-radius: 7px;
  background-color: var(--app-screen);
}

.form .pro-pic {
  width: 7.5rem;
  height: 7.5rem;
  border: 1.5px solid var(--border);
  border-radius: 50%;
}

.form .error {
  border: 2px solid var(--error);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  color: var(--error);
}

.spinner {
  color: var(--spinner);
}

.form .file-chooser {
  display: flex;
}

.file-chooser i {
  font-size: 1.5rem;
  margin: 2px;
  color: #6d7680;
}

.file-chooser p {
  margin: 2px;
}
