.dashboard{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
}


.main-card{
    width:49%;
    height:45rem;
    padding: 3%;
    margin:0.5%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0.01rem 0.01rem 0.3rem 0.03rem rgb(161, 160, 160); 
}

.main-card-double{
    width:49%;
    height:65rem;
    padding: 3%;
    margin:0.5%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0.01rem 0.01rem 0.3rem 0.03rem rgb(161, 160, 160); 
}

.main-card h3{
    display: inline;
    margin-right: 70%;
}

.main-card-double h3{
    display: inline;
    margin-right: 70%;
}

.main-card .sub-card{
    margin-top: 15px;
    width: 100%;
    height: 26rem;
}

.main-card-double .sub-card{
    margin-top: 10px;
    width: 100%;
    height: 26rem;
}