.specific-container{
    margin: 5% 5% 0 14%;
}

.drug{
    width: 320px;
    height: 250px;
    padding: 5px;
}

.drug img{
    width: 240px;
    height: 180px;
}

.drug .add-cart{
    box-shadow: .01rem .01rem .4rem .05rem var(--shadow);
    width: 4rem;
    margin-top: auto;
    color: var(--font-heading);

}

.add-cart i{
    font-size: .8rem;
    padding: 5px;
    margin: 0 5px 0 10px;
    border-right: 2px solid var(--border-color);
}



.drug .add-cart:hover{
    cursor: pointer;
}

