.Link{
  padding: .5rem .5rem .5rem .5rem;
  text-decoration: none;
  color: var(--navbar-font)
}
.Link:hover,.Link:focus{
    color:var(--navbar-font-hover);
}

.selectedLink{
  color:var(--navbar-font-active);
}

/* pdetails:


https://www.squarepharma.com.bd/products/AMCIVIT-SYRUP-100ML.jpg */