.Link{
  text-decoration: none;
  color: rgb(116, 114, 114);
  padding: .8rem .8rem 1rem .8rem;
}
.Link:hover,.Link:focus{
    color: black;
}

.selectedLink{
  color:black;
  background-color: rgb(219, 214, 214);
}