.btn-container{

    background-color:var(--button);
    box-shadow:0.01rem 0.01rem .3rem .01rem var(--shadow);
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: var(--font-white)

}

.btn-container:hover{
    cursor: pointer;
    background-color: var(--button-hover)
}

.btn-container i{
    color: var(--font-white);
    font-size: 18px;
}
