.footer-container{
    margin-bottom: 5rem;
}
.footer-container #admin{
    width: 10rem;
    margin-left: 5%;
    margin-top: 3%;
}

.footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.footer .con-soc{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:600px){
    .footer .con-soc{
      display: flex;
      flex-direction: column;  
    }
}


.footer .contact{
    width: 40%;
}

.footer .contact div{
    display: flex;
    align-items: center;
}

.footer .contact div i{
    padding: 5px;
    margin: 3px;
    background-color:var(--footer-highlighter);
    color:var(--footer-font);
    border-radius: 50%; 
}

.footer .social{
    width: 40%;
}

.social .ttip{
    display: flex;
}

.footer .about{
    width: 30%;
}