.home{
   position: relative;
   width: 100%;
   height: auto;
   min-height: 100%;
   padding-top: 2rem;   
   background-image:url(../../../assets/backgroundblue.png);
   background-position:top right;
   background-repeat: no-repeat;
   background-attachment:fixed;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.home .discount{
   margin-top: 3rem;
   
}

.home .map-container{
   margin: 5%  0 3% 0;
   width: 100%;
   height: 18.2rem;
   background-color:var(--highlighter);
   display: flex;
   justify-content: center;
   align-items: center;
}

.home .map-container #map{
   width: 80%;
   height: 18rem;
}


.home .ask-container{
   margin: 0 0 0 10%;
   margin-top: 4rem;
   align-self: flex-start;
}


