.order{
    width: 60%;
    margin-top: 5%;
    align-self: center;
    box-shadow:0.01rem 0.01rem .1rem .05rem var(--shadow);
    
}

@media only screen and (max-width:800px){
    .order{
        width: 80%;
  }   
}


@media only screen and (max-width:500px){
    .order{
        width: 100%;
  }   
}

