.orders{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}


@media only screen and (max-width: 845px) {
    .orders {
        display: flex;
        flex-direction: column;
    }
  }



.orders h6{
    color:var(--font-heading);
    margin-bottom: 1.5rem; 
}


.orders .new-order{
    flex-grow: .8;
    margin: 0 0 5% 6%;
}

.new-order .make-order{
    width: 5rem;
    text-align: center;
    background-color: var(--button);
    padding: 0 2px 0 2px;
    border-radius: 5px;
    font-size: 13px;
    color: var(--font-white);
    box-shadow: .1rem .1rem .5rem .1rem var(--shadow);
}


.new-order .make-order:hover{
    cursor: pointer;
    background-color: var(--button-hover)
}



.orders .cart{
    flex-grow: 1.5;
    margin: 0 0% 5% 6%;
}

.orders .order{
    flex-grow: 2;
    margin: 0 7% 5% 6%;
}

/* .orders .curr-order{
    margin: 8px;
} */

